{
	"root": true,
	"parserOptions": {
		"sourceType": "module",
		"ecmaVersion": "latest"
	},
	"rules": {
		"no-unused-vars": "off",
		"@typescript-eslint/no-unused-vars": [
			"warn",
			{
				"argsIgnorePattern": "_+",
				"varsIgnorePattern": "_+",
				"caughtErrorsIgnorePattern": "_+"
			}
		]
	},
	"parser": "@typescript-eslint/parser",
	"plugins": ["@typescript-eslint"],
	"extends": [
		"eslint:recommended",
		"plugin:@typescript-eslint/eslint-recommended",
		"plugin:@typescript-eslint/recommended"
	]
}
